.main-container {
  margin: 0 auto;
  width: 75%;
  text-align: center;
}
.title {
  border-bottom: 2px solid #bbb;
  color: #eee;
}
body {
  background-color: #5be;
}
.quote {
  color: #fff;
  line-height: 55px;
}
.author {
  color: #fff;
  text-align: left;
  display: inline-block;
  width: 45%;
}
.rate-box {
  display: inline-block;
}
.quote-container {
  margin: 10px auto;
  background-color: #62d7ff;
  border-bottom: 5px solid #bbb;
  border-right: 5px solid #bbb;
  width: 85%;
  padding: 10px;
}
.star {
  size: 14px;
  color: #aaa;
  border: 1px solid #aaa;
  border-radius: 50%;
}
.star:hover {
  color: #000;
  border: 1px solid #000;
}
.rated {
  color: #ff0;
  border: 1px solid #ff0;
}
