mainColor = #5be
secondColor = #aaa
headColor = #eee
quotecolor = #fff

.main-container
	margin: 0 auto
	width 75%
	text-align: center

.title
	border-bottom: 2px solid secondColor *1.1
	color headColor

body
	background-color: mainColor

.quote
	color quotecolor
	line-height: 55px

.author
	color quotecolor *2
	text-align left
	display: inline-block
	width 45%

.rate-box
	display: inline-block

.quote-container
	margin 10px auto
	background-color mainColor *1.15
	border-bottom: 5px solid secondColor *1.1
	border-right: 5px solid secondColor *1.1
	width 85%
	padding 10px
	// border-radius: 10px

