mainColor = #5be
secondColor = #aaa
headColor = #eee
quoteColor = #fff
staredColor = #ff0
hoveredColor = #000

.main-container
	margin: 0 auto
	width 75%
	text-align: center

.title
	border-bottom: 2px solid secondColor *1.1
	color headColor

body
	background-color: mainColor

.quote
	color quoteColor
	line-height: 55px

.author
	color quoteColor *2
	text-align left
	display: inline-block
	width 45%

.rate-box
	display: inline-block

.quote-container
	margin 10px auto
	background-color mainColor *1.15
	border-bottom: 5px solid secondColor *1.1
	border-right: 5px solid secondColor *1.1
	width 85%
	padding 10px
	// border-radius: 10px

.star
	size 14px
	color secondColor
	border 1px solid secondColor
	border-radius 50%
	&:hover
		color hoveredColor
		border 1px solid hoveredColor

.rated
	color staredColor
	border 1px solid staredColor
